.DS_Store
.idea/
*.iml

/php/data/*
/php/session/*
!/php/data/.gitkeep
!/php/session/.gitkeep
/php/vendor

/manual-install/*.conf
!/manual-install/sample.conf
/manual-install/docker-compose.yml
/manual-install/compose.yaml
/manual-install/.env

.env.*
/manual-install/config.php
/manual-install/nextcloud_database.sql
/manual-install/www.conf.default
/manual-install/www.conf.og
/manual-install/backups
